# compiled output
node_modules
node_modules/
jspm_packages
jspm_packages/
.serverless
.serverless/
.vscode
.vscode/
*.code-workspace
.gradle/
.class
/bin
bin/
/build
build/
/build-eclipse
build-eclipse/
/target
target/
/.gradle
.gradle/**
gradle/**
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.class
*.jar

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
*.log
/typings

# System Files
.DS_Store
Thumbs.db